:root {
    --color: lightblue;
}
body {
    /* background: lightblue; */
    background: var(--color);
}
h3 {
    text-align: center;
}
a {
    position: fixed;
    right: 30px;
}
img {
    display: block;
    margin: 0 auto;
}