<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div>
        <h3 id="h3">模块3</h3>

        <div>
            <a href="./module1.html">查看模块1</a>
            <!-- <img src="<%= require('./public/images/bridge.jpg')%>"> -->
            <div>
                <img src="<%= require('./public/images/bridge.jpg')%>" >
            </div>
        </div>
    </div>
    
</body>
</html>